.idea
.vscode
*.log
temp*
web*
!websocket*
node_modules
ld/logs
!ld/web/example
!ld/web/plugin
!ld/web/index
logs
LazierServer*
# dist  # 允许发布 .d.ts 声明文件到 npm
ld/plugins/temporary/
!ld/plugins/externals/global-proxy/GlobalProxy.exe
ld/plugins/externals/global-proxy
*.edit.*
ld/imdbs/
uploads
