<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LocalServer</title>
    <script type="module">
        import { Workbox } from '/res/workbox/releases/7.3.0/workbox-window.prod.mjs';

        if ('serviceWorker' in navigator) {
            const wb = new Workbox('/sw.js');

            wb.register().then(registration => console.log('SW 注册成功'))
                .catch(err => console.error('SW 注册失败:', err));;
        }
    </script>
    <!-- 引入Vue3 -->
    <script src="../res/vue.global.prod.js"></script>
    <!-- 引入vue-router -->
    <!-- <script src="./res/vue-router.global.js"></script> -->
    <!-- 引入element-plus样式文件 -->
    <link rel="stylesheet" href="../res/index.css" />
    <!-- 引入element-plus组件库 -->
    <script src="../res/index.full.js"></script>
    <!-- 引入axios -->
    <script src="../res/axios.min.js"></script>
</head>

<body>
    <div id="app">

        <el-row class="but-s-container">
            <el-col :span="7">
                <el-input v-model="searchKeyword" @input="debouncedHandleData" placeholder="项目/备注包含的文字">
                    <template #append>
                        <el-button @click="handleData()" title="搜索内容">搜索</el-button>
                    </template>
                </el-input>
            </el-col>
            <el-col :span="1">
                <el-button style="margin-left: 10px;" @click="getIndexData()" title="刷新列表">刷新</el-button>
            </el-col>
        </el-row>

        <div class="data-container">
            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                :current-page="page.currentPage" :page-sizes="page.pageSizes" :page-size="page.pageSize"
                layout="total, sizes, prev, pager, next, jumper" :total="showFileList.length">
            </el-pagination>
            <div style="margin: 5px 0; width: 100%;"></div>
            <el-table :data="showFileList" border style="width: 90%">
                <el-table-column label="文件名">
                    <template #default="{row}">
                        <div style="text-align: left;">
                            MD5: <a :href="`down/${encodeURIComponent(row.id)}?dfn=${row.id}`"><el-text
                                    class="mx-1 cursor" type="primary">{{row.id}}</el-text></a>
                            <div v-for="(item, index) in row.filenameList" :key="index">
                                <a :href="`down/${encodeURIComponent(row.id)}?dfn=${item}`">
                                    <el-text class="mx-1 cursor" type="primary">{{item}}</el-text></a>
                                <el-button type="danger" size="small" plain class="fn-but"
                                    @click="deleteFile(row, item)">{{row.filenameList.length <
                                        2?'删除文件':'删除'}}</el-button>
                            </div>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column label="信息">
                    <template #default="{row}">
                        <div style="text-align: left;">
                            <div>文件类型: {{row.metadata.filetype}}</div>
                            <div>文件大小: {{formatFileSize(row.size) + ` (${row.size})`}}</div>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column fixed="right" label="选项" width="100" header-align="center">
                    <template #default="{ row }">
                        <el-button type="danger" size="small" @click="deleteFile(row)">删除文件</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <!-- 回到顶部按钮 -->
        <div id="back-to-top" class="back-to-top hidden">
            <el-tooltip effect="dark" :content="`返回页面顶部`" placement="bottom">
                <div class="but-s-item operate" @click="scrollToTop">
                    <el-avatar class="but-s-item-avatar">↑</el-avatar>
                    <el-text class="but-s-item-text" type="primary" size="large">回到顶部</el-text>
                </div>
            </el-tooltip>
        </div>
    </div>
</body>

</html>

<style>
    .data-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1%;
        justify-content: center;
    }

    .but-s-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }


    .back-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 2;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    .back-to-top>.but-s-item {
        margin: 0;
    }

    .back-to-top.hidden {
        opacity: 0;
        visibility: hidden;
    }

    .back-to-top.visible {
        opacity: 1;
        visibility: visible;
    }

    .fn-but {
        margin: 3px;
        padding: 3px;
    }
</style>


<script>
    const { createApp, ref } = Vue;
    const { ElMessage, ElMessageBox } = ElementPlus;

    createApp({
        data() {
            return {
                loading: {},
                showFileList: [],
                fileList: [
                    {
                        "filenameList": [
                            "html5Game.do"
                        ],
                        "auth": [],
                        "id": "3dbeac11d09fb521eaf82698f8550a10",
                        "metadata": {
                            "filename": "html5Game.do",
                            "filetype": null,
                            "filehash": "3dbf51aa"
                        },
                        "size": 117492,
                        "offset": 117492,
                        "creation_date": "2025-04-29T02:19:28.866Z",
                        "storage": {
                            "type": "file",
                            "path": "D:\\work\\_test_\\0\\lsc\\uploads/11bbbbfc690bebc002ba5f37c922e722"
                        }
                    }
                ],
                searchKeyword: "",
                page: {
                    currentPage: 1,
                    pageSize: 10,
                    pageSizes: [10, 20, 30, 40, 100, 200, 300, 500, 1000, 3000, 5000, 10000],
                }
            }
        },
        mounted() {
            this.resetPage();
            const url = new URL(window.location.href);
            this.searchKeyword = url.searchParams.get('searchKeyword') ?? '';
            window.addEventListener('scroll', this.handleScroll);
        },
        beforeUnmount() {
            window.removeEventListener('scroll', this.handleScroll);
        },
        computed: {
            paginatedData() {
                const start = (this.currentPage - 1) * this.pageSize;
                const end = this.currentPage * this.pageSize;
                return this.data.slice(start, end);
            },
        },
        methods: {
            getIndexData(callback) {
                // 获取列表数据
                this.warpAxios(axios.post('list').then((res) => {
                    this.fileList = res.data;
                    this.handleData();
                    ElMessage.success('获取到列表总数据: ' + res.data.length)
                }), "获取数据列表失败").finally(() => {
                    if (typeof callback == 'function') {
                        callback();
                    }
                })
            },
            warpAxios(axiosPromise, msg, notShowOperationSuccessful, notShowError) {
                if (this.loading[msg]) return;
                this.loading[msg] = true;
                return axiosPromise.then(res => {
                    if (!notShowOperationSuccessful) {
                        ElMessage.success('操作成功');
                    }
                    return res;
                }).catch(function (error) {
                    if (notShowError) return;
                    ElMessage.error((msg || '请求失败!') + error);
                    console.error(error);
                }).finally((res) => this.loading[msg] = false);
            },
            handleData() {
                // 处理列表数据，过滤操作
                let ds = [];
                // 把关键词挂到url上面 
                const url = new URL(window.location.href);
                url.searchParams.set('searchKeyword', this.searchKeyword);
                window.history.replaceState({}, '', url);
                this.fileList.forEach(d => {
                    if (this.searchKeyword == ""
                        || d.id?.toLocaleLowerCase().includes(this.searchKeyword.toLocaleLowerCase())
                        || d.metadata?.filename?.toLocaleLowerCase().includes(this.searchKeyword.toLocaleLowerCase())
                        || (d.filenameList?.find(fn => fn?.toLocaleLowerCase().includes(this.searchKeyword.toLocaleLowerCase())))) {
                        ds.push(d)
                    }
                })
                this.showFileList = ds;
            },
            resetPage() {
                this.getIndexData(() => {
                    this.handleData();
                });
            },
            handleSizeChange(val) {
                this.page.pageSize = val;
            },
            handleCurrentChange(val) {
                this.page.currentPage = val;
            },
            debouncedHandleData() {
                clearTimeout(this.debounceDataTimer);
                this.debounceDataTimer = setTimeout(() => {
                    this.handleData();
                }, 300);
            },
            scrollToTop() {
                window.scrollTo({ top: 0, behavior: 'smooth' }); // 平滑滚动到顶部
            },
            handleScroll() {
                const scrollTop = window.scrollY || document.documentElement.scrollTop;
                const backToTopButton = document.getElementById('back-to-top');
                if (scrollTop > 100) {
                    backToTopButton.classList.remove('hidden');
                    backToTopButton.classList.add('visible');
                } else {
                    backToTopButton.classList.remove('visible');
                    backToTopButton.classList.add('hidden');
                }
            },
            /**
             * 格式化文件大小
             * @param {number} bytes 文件大小（字节）
             * @returns {string} 格式化后的字符串（如 "3.4 GB"）
             */
            formatFileSize(bytes) {
                if (bytes === 0) return '0 B';

                const units = ['B', 'KB', 'MB', 'GB', 'TB'];
                const k = 1024;
                const dm = 1; // 小数点位数

                const i = Math.floor(Math.log(bytes) / Math.log(k));
                // 保留1位小数，并移除末尾的.0（如 3.0 → 3）
                const size = parseFloat((bytes / Math.pow(k, i)).toFixed(1)).toString().replace(/\.0$/, '');

                return `${size} ${units[i]}`;
            },
            deleteFile(file, fn) {
                // 删除文件
                this.warpAxios(axios.post('delete/' + (fn ?? (file.id + '?delFile=true')), {}).then((res) => {
                    const newFile = res.data;
                    if (newFile.delete) {
                        // 文件被彻底删除
                        for (let i = 0; i < this.fileList.length; i++) {
                            const e = this.fileList[i];
                            if (e.id == file.id) {
                                this.fileList.splice(i, 1);
                                ElMessage.success('文件已删除');
                                break;
                            }
                        }
                        this.handleData();
                    } else {
                        file.filenameList = newFile.filenameList;
                    }
                }), "获取数据列表失败")
            },
        },
    }).use(ElementPlus).mount('#app');

</script>